body {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1920px;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

:root {
  --bg-white: #ffffff;
  --black: #000000;
  --green: #25645E;
  --gray: #D9D9D9;
}

h2 {
  vertical-align: center;
  text-align: center;
}

#logo {
  padding-right: 5px;
  float: left;
  line-height: 55px;
  font-size: 25px;
}
#logo a, #logo a:visited {
  color: var(--black);
  text-decoration: none;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-white);
  color: var(--black);
  height: 50px;
  margin-inline: auto;
  max-width: 1540px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 30px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  margin: 0 16px;
  line-height: 55px;
  overflow: hidden;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  .menu li {
    line-height: 20px;
  }
}
.menu li a, .menu li a:visited {
  color: var(--light-text-color);
  text-decoration: none;
}
.menu li button {
  background-color: var(--green);
  color: var(--bg-white);
  padding: 10px;
  border-radius: 12px;
  border: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
@media (max-width: 700px) {
  .menu li button {
    border: none;
  }
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--black);
  position: absolute;
  height: 2px;
  width: 30px;
  transition: transform 800ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 850px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute !important;
    z-index: 999;
    top: 0;
    background-color: var(--bg-white);
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 40px;
    padding: 8px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 8px 0;
    width: 100%;
    background-color: var(--lightest-text-color);
  }
  .menu > li a {
    color: var(--base-color);
  }
}
main {
  max-width: 1920px;
  margin-inline: auto;
  height: auto;
  overflow-x: hidden;
}
main .container {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  flex-wrap: nowrap;
  margin-inline: auto;
  max-width: 1540px;
}
@media screen and (max-width: 850px) {
  main .container {
    flex-direction: column;
  }
}
main .container .textitem {
  align-self: center;
  width: 40%;
  padding-left: 30px;
  margin-right: 20px;
}
@media screen and (max-width: 850px) {
  main .container .textitem {
    width: 100%;
    text-align: center;
    margin-inline: 0;
    padding: 20px;
  }
}
main .container .textitem button {
  border: none;
  border: 2px solid var(--green);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
}
main .container .textitem button a, main .container .textitem button a:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--black);
  font-size: 16px;
}
main .container .textitem h1 {
  font-size: 70px;
  font-weight: 100;
  margin-bottom: 10px;
}
@media screen and (max-width: 1100px) {
  main .container .textitem h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 850px) {
  main .container .textitem h1 {
    font-size: 70px;
  }
}
main .container .textitem p {
  color: var(--green);
  font-size: 18px;
  margin-bottom: 25px;
  max-width: 80%;
}
@media screen and (max-width: 850px) {
  main .container .textitem p {
    max-width: 100%;
    padding-inline: 30%;
  }
}
main .container .imgitem img {
  width: 120%;
  max-height: 100vh;
  -webkit-clip-path: polygon(23% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(23% 0, 100% 0, 100% 100%, 0% 100%);
  -o-object-fit: contain;
     object-fit: contain;
  pointer-events: none;
  /*mobile*/
}
@media screen and (max-width: 850px) {
  main .container .imgitem img {
    -webkit-clip-path: polygon(0 22%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 22%, 100% 0, 100% 100%, 0% 100%);
  }
}

#vpn {
  text-align: center;
  max-width: 1540px;
  height: 1000px;
  position: relative;
  padding-inline: 30px;
  overflow: visible;
  padding-top: 30px;
}
#vpn a {
  text-decoration: none;
}
#vpn a h3 {
  padding-top: 20px;
  color: var(--green);
}
#vpn h1 {
  font-weight: 100;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
}
#vpn p {
  padding-bottom: 20px !important;
  color: var(--green);
}
#vpn .container2 {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  max-height: 400px;
  max-width: 1480px;
  margin-inline: auto;
  margin-top: 30px !important;
  margin-bottom: 30px;
}
@media screen and (max-width: 1000px) {
  #vpn .container2 {
    flex-direction: column;
    max-height: auto;
  }
}
#vpn .container2 .textitem2 {
  width: 50%;
  background-color: var(--green);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
  display: flex;
  align-items: center;
  padding: 30px;
  padding-inline: 40px;
}
@media screen and (max-width: 1000px) {
  #vpn .container2 .textitem2 {
    -webkit-clip-path: none;
            clip-path: none;
    width: auto;
    height: 50%;
    padding-inline: 30px;
  }
}
#vpn .container2 .textitem2 p {
  text-align: justify;
  color: var(--bg-white);
}
#vpn .container2 .imgitem2 {
  width: 50%;
}
@media screen and (max-width: 1000px) {
  #vpn .container2 .imgitem2 {
    width: 100%;
    height: 50%;
    padding-bottom: 10px;
  }
}
#vpn .container2 .imgitem2 img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
}
@media screen and (max-width: 1000px) {
  #vpn .container2 .imgitem2 img {
    -webkit-clip-path: none;
            clip-path: none;
  }
}/*# sourceMappingURL=style.css.map */