#bestvpn {
    text-align: center;
    height:auto;
    background-color: var(--black);
    margin-inline: auto;
    padding-inline: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);


    h1 {
        font-size: 60px;
        font-weight: 100;
        padding-bottom: 30px;
        color: var(--bg-white);
        text-transform: uppercase;
    }


.container3 {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    max-height: 400px;
    max-width: 1480px;
    margin-inline: auto;
  

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        max-height: 100%;
    max-width: 100%;
         }


    .textitem3 {
        width:60%;
        background-color: var(--green);
        display: flex;
        align-items: center;
        padding: 30px;
        padding-right:40px;


        @media screen and (max-width: 1000px) {
            clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
            width: auto;
            padding: 40px;

             }


        p {
            text-align: justify;
            color: var(--bg-white);
            font-size: 18px;

        }
    }


    .imgitem3 {

        width: 40%;
        padding-left: 20px;

        @media screen and (max-width: 1000px) {
            width: 100%;
            height: 50%;
            margin-top: 5px;
            padding-left: 0;

             }

        img{
        object-fit: contain;
        max-height: 100%;
        width:100%;


        @media screen and (max-width: 1000px) {
            clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
             }

        }
    }
}


}