#bestvpn {
    text-align: center;
    max-width: 1540px;
    height:auto;
    padding-inline: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

    h1 {
        font-size: 50px;
        font-weight: 100;
        padding-bottom: 30px;
    }


.container3 {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    max-height: 400px;
    max-width: 1480px;
    margin-inline: auto;
  

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        max-height: 100%;
    max-width: 100%;
         }


    .textitem3 {
        width:50%;
        background-color: var(--green);
        clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
        display: flex;
        align-items: center;
        padding: 30px;
        padding-right:40px;


        @media screen and (max-width: 1000px) {
            clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
            width: auto;
            padding: 40px;

             }


        p {
            text-align: justify;
            color: var(--bg-white);

        }
    }


    .imgitem3 {

        width: 50%;

        @media screen and (max-width: 1000px) {
            width: 100%;
            height: 50%;
            margin-top: 5px;

             }

        img{
        object-fit: contain;
        max-height: 100%;
        width:100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);


        @media screen and (max-width: 1000px) {
            clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
             }

        }
    }
}


}