#owner {

    a{
        color: var(--green);
    }
}

footer {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);

    margin-inline: auto;
    text-align: center;
    height: auto;
    background-color: rgb(187, 187, 187);
    padding-top: 20px;


    h4 {
        color: var(--black);
    }
}


hr { 
     display: block;
     max-width: 1540px;
     height: 2px;
     margin: auto !important;
     border: 0;
     border-top: 1px solid var(--base-text-color);
     padding: 0;
 }

 p {
    color: var(--base-text-color);
 }



.footerflexcontainer {
    display: flex;
flex-direction: row;
max-width: 1000px;
flex-wrap: wrap;
margin-inline: auto;
justify-content: space-between;

.section {

    padding: 20px;



    h5 {
        color: var(--black);
        text-align: left;
        margin-bottom: 5px;
    }
    
    li {
        text-align: left;
text-decoration: none;
list-style: none;

        a {
            text-decoration: none;
 color: var(--black);
        }
    }
}

}