
/*
:root {
    --bg-white: #ffffff;
    --black: #000000;
    --green: #25645E;
    --gray: #D9D9D9;
}
*/

:root {
    --bg-white: #e9e9e9;
    --black: #0D3539;
    --green: #337c75;
    --gray: #f0ecec;
}